@charset "utf-8";
*{margin:0;padding:0;box-sizing:border-box;}
li{list-style-type:none;}

body{
    display:flex;flex-flow:column nowrap;
    justify-content:center; align-items:center;
    min-height:100vh;
}